### Go ###
internal/daemon/webdist/

### Web ###
web/dist/
node_modules

### IDE ###
.idea
.vscode/
*.iws
*.iml
*.ipr

### OS ###
.DS_Store
*.log

### Legacy (Kotlin era) ###
.gradle
.kotlin
build/

### Test ###
test-results/

### Custom ###
*.png
!icons/**/*.png
